<section class="edit-title">
    <h3><%= f.label :title %></h3>
    <%= f.text_field :title %>
</section>
<section class="edit-body">
    <h3><%= f.label :text %></h3>
    <%= f.text_area :text %>
</section>
<section class="edit-options">
    <%= f.submit %>
</section>
<br />
